<section fxLayoutAlign="center">
    <mat-card>
        <form action="" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm"
            (ngSubmit)="registrarUsuario(f)">

            <mat-form-field>
                <mat-label>Ingrese Nombre</mat-label>
                <input type="text" matInput placeholder="Ingrese Nombre" name="nombre" ngModel required>
                <mat-error>
                    Debe ingresar un Nombre
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Ingrese Apellidos</mat-label>
                <input type="text" matInput placeholder="Ingrese Apellidos" name="apellido" ngModel required>
                <mat-error>
                    Debe ingresar un Apellido
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Ingrese UserName</mat-label>
                <input type="text" matInput placeholder="Ingrese UserName" name="username" ngModel required>
                <mat-error>
                    Debe ingresar un UserName
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Ingrese Telefono</mat-label>
                <input type="text" matInput placeholder="Ingrese Telefon" name="Telefono" ngModel required>
                <mat-error>
                    Debe ingresar un Telefono
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Ingrese E-Mail</mat-label>
                <input type="email" matInput placeholder="Email" name="email" ngModel required>
                <mat-error>
                    Debe ingresar un Email
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Ingrese password</mat-label>
                <input type="password" matInput placeholder="Password" name="password" ngModel required minlength="7">
                <mat-error>Debe tener mas de 7 caracteres
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Confirme password</mat-label>
                <input type="password" matInput placeholder="Confirme Password" name="passwordConfirme" ngModel required minlength="7">
                <mat-error>Debe tener mas de 7 caracteres
                </mat-error>
            </mat-form-field>


            <button mat-raised-button color="purple" type="submit">Enviar</button>


        </form>
    </mat-card>
</section>