<mat-toolbar color="primary">
    <button mat-icon-button (click)="onMenuToggleDispatch()" >
        <mat-icon>menu</mat-icon>
    </button>
    <span>Edificaciones store</span>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout="row" fxLayoutGap="10px"  class="navegacion-menu">
            <li><a href="">Registrar</a></li>
            <li><a href="">Login</a></li>
            <li><a href="">Home</a></li>
            <li><a href=""></a></li>
            
        </ul>
    </div>

</mat-toolbar>
