@import 'styles/colors';

.files-upload {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__header {
        margin-bottom: 12px;
    }

    &__content {
        flex-grow: 1;
    }

    &__footer {
        display: inline-flex;
        flex-direction: row-reverse;
        margin-top: 12px;
    }
}

.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px dashed $primary-light;
    border-radius: 4px;
    padding: 20px;

    &__hovered {
        border: 2px solid $primary;

        .dropzone__label,
        .dropzone__file {
            opacity: 0.3;
        }
    }
}

.file {
    position: relative;
    display: inline-block; /* Añadir esto para que el contenedor tenga solo el tamaño del contenido */

    &__input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; /* Ocupa todo el ancho del contenedor */
        height: 100%; /* Ocupa todo el alto del contenedor */
        opacity: 0;
        cursor: pointer;
    }

    &__label {
        color: $primary;
        display: inline-block; /* Añadir esto para que ocupe el espacio necesario */
        padding: 8px 16px; /* Ajustar el relleno según sea necesario */
        border: 1px solid transparent; /* Añadir un borde para que se vea el área de interacción */
        border-radius: 4px; /* Opcional: agregar bordes redondeados */
        
        &:hover {
            color: $primary-dark;
            cursor: pointer;
            border-color: $primary-dark; /* Cambiar el color del borde al pasar el ratón */
        }
    }
}

.error{
    color: $error;
    text-align: center;
    padding: 12px;
}